srt 
yfinance 
google-genai 
tqdm 
rich 
torch=2.5.1+cu121
numpy 
platformdirs 
ctranslate2 
tokenizers 
huggingface-hub 
gradio 
accelerate 
optimum 
transformers 
openai-whisper 
nvidia-ml-py 
torchvision 
torchaudio 
thinc 
diffusers 
spacy 
pymc 
sentence-transformers 
peft 
dataproc-spark-connect
